.popUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    height: 450px;
    max-height: 100%;
    width: 450px;
     max-width: 100%;
    font-size: 24px;
    color: white;
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    border-radius: .25rem;
    margin: 0px auto;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);

}

#close{
    cursor: pointer;
    border: none;
    outline:none;
    text-align: center;
    font-size: 2rem;
    width:30px;
    height:30px;
    color: #fff;
    font-weight: 600;
    background: transparent;
    line-height: 10px;    

}
#close:hover,
#close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  transform: scale(.8)
}


.list{
    width: 100%;
    outline:white;
    overflow: scroll;
    counter-reset: section;
    margin:10% 0;
}

#userinfo{
    padding-bottom: 1px;
}

.listItem{
    border: white;
    width:69%;
    display:flex;
    align-items: center;
    gap:10px;
    margin: 10px 0 0 20%;
}
.listItem + .listItem{
    padding:2px;
    
}

.listItem:before{
    counter-increment: section;
    content: counters(section, ".", decimal-leading-zero);
    color:orange;
    padding-right: 12px;
    text-align: center;
    width: 44px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

input[type='button']{
    position: absolute;
        right:20px;
        z-index:1000;
        float: right;
        top: 20px;
    }