
.audio{
    min-width:500px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}


.sliders{
    display:flex;
    justify-content: center;
    margin:25px;
}
.player{
    margin:25px;
}

input[type=range]{
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}


.col{
    display:flex;
    flex-direction: column;
}