.App {
  text-align: center;
}

.loginPage{
  min-width:500px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.usersPage{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.container {
  font-family: 'Amaranth', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0288D1;
  background: radial-gradient(circle, #039BE5, #01579b);
  color: white;
}

.topBar{
  display:flex;
  color:white;
  letter-spacing: .03em;
  /* font-size: 14px; */
  align-items: center;
  justify-content: space-between;
  padding: 0 41px;
  background: #000;
  margin: 0;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.08);

}
.signoutBtn{
  /* text-transform: uppercase; */
  align-self: flex-end;
  cursor: pointer;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  /* margin:0 0.3em 0.3em 0; */
  border-radius:5.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
  
  .signoutBtn:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
   .signoutBtn{
  display:block;
  margin:0.4em auto;
  }
  }
  .rightSide{
    display:flex;
  }



.logo {
  font-family: 'Amaranth', sans-serif;
  font-size: 200%;
}
.logoIcon {
  top: 4px;
  font-size: 32px;
  margin-right: -2px;
  position: relative;
}
.caption {
  margin: 20px 0 40px 0;
  font-family: 'Amaranth', sans-serif;
  font-size: 18px;
  opacity: 0.8;
}
.skip {
  font-weight:lighter;
  color:white;
  opacity: 0.7;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.skip:HOVER {
  text-decoration: underline;
}
.firebaseUi {
  min-width: 250px;
}
.button {
  cursor: pointer;
  color: blue;
  margin-left:20px;
}

